* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notes-input {
  margin-bottom: 20px;
  margin-top: 5px;
  width: 200px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
}

.note {
  font-weight: bold;
}

.note-button {
  margin-left: 30px;
}

.message {
  border: 1px solid #cecece;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list {
  list-style-type: none;
}
